* {
  box-sizing: border-box;
  margin: auto;
  padding: 0;
  /* border: 1px solid red; */
  background-color: burlywood;
}
table {
  border-collapse: collapse;
  
}
td,
tr {
  padding: 23px;
  border: 2px 2px solid;
}
h1 {
  text-align: center;
  font-size: 50px;
}
